### Quick Tour
Lets go through basic python in first few sessions. Any programming language provides some basic constructs to start programming in that language. We will go through what are basic constructs that python provides us.

Lets think about it, **what do programs do?** (take opinion of participants)
typical examples are 
- performing calculation - calculator, engineering admission process (after every stundent is allocated , recalulation of what are remaining seats etc. is computed)  
- text processing - creation of admission slip
- automation - printing of automation slip

**Programs mainly manipulate or process data**

Then first of we should see what is data? what are fundamental data types that we commonly need? Python supports most fundamental data types and also supports creating your own custom data type.

While basic data types are required to take input as some data and output some data, to process we also need some means to manipulate the data. 

So lets look at built in basic data types first and some fundamental means by which we manipulate the data

### Numeric data types

In [3]:
0 # integers

0

In [4]:
42

42

In [6]:
42 + 5 # means to process data, arithmatic operators

47

In [7]:
42-42

0

In [9]:
42*42

1764

In [19]:
42/2

21.0

In [10]:
42**2

1764

In [30]:
42**100 # you don't have to worry about how big integer can be stored in python

2113143741011360736530044045523113991698878330713580061264477934391564919875497777688215057732151811172029315247932158994879668553186145824710950394684126712037376

In [11]:
x = 42 # data can be stored inside a variable

In [13]:
x + x # and can be recalled for use later

84

A note for those who program in c/c++/java - In Python you don't have to declare data type of a variable. Variable is just like a named container. You can store any kind of data inside variable at any point in the program.

In [17]:
x = 4.2 # float, same x which we used to store an integer can be used to store float (real numbers)

In [18]:
x

4.2

In [20]:
4.2 *10.0

42.0

In [21]:
4.2 *10

42.0

In [22]:
10*4.2

42.0

In [25]:
42.0/2.0 # division opearator always results in a float

21.0

In [26]:
42/2 # even if numerator and denominator both are integers!

21.0

In [27]:
42//2 # integer division operator

21

In [28]:
4.2**2

17.64

In [50]:
print(x, y) # very useful function to print your output

42 24

Whats the difference between this print and result that we see without print? Lets do some multiline computation

In [34]:
x = 42
y = 24
x*x # compute square of x
y*y # compute square of y
x*x + y*y # compute sum of squares
# not that it will print result of last line , it additional functionality given by 
# interpreter to make our life easy while programming inside jupyter

2340

In [52]:
x = 42
y = 24
print(x*x) # compute square of x
print(y*y) # compute square of y
print(x*x + y*y) # compute sum of squares

1764
576
2340

### Text data type

There is no character type of data in python. There is a string to represent text data

In [31]:
first = "Rupali"
second = "Rupak"

In [51]:
print(first, second)

Rupali Rupak

In [38]:
first + second

'RupaliRupak'

In [47]:
first * 5 # repeate five times

'RupaliRupaliRupaliRupaliRupali'

In [49]:
"="*50

'=================================================='

In [39]:
first + " " + second

'Rupali Rupak'

In [41]:
"Rupali"+ " " + "Rupak" # litteral strings

'Rupali Rupak'

In [42]:
"litteral string can have double quotes"

'litteral string can have double quotes'

In [43]:
'It can also have single quote'

'It can also have single quote'

**Question: can you have single quote inside a string?**

In [44]:
single = "He said, 'I am fine'"

In [45]:
print(single)

He said, 'I am fine'

In [53]:
multiline = """first line
second line
third line
fourth line"""

In [54]:
print(multiline)

first line
second line
third line
fourth line

In [55]:
multiline

'first line\nsecond line\nthird line\nfourth line'

In [56]:
# note the escape char \n

In [59]:
multi = "line one\nline two\nline three"

In [60]:
print(multi)

line one
line two
line three

### Higher level datatypes

In [62]:
students = ["Aparna", "Anna", "Arpita", "Akanksha"]

In [65]:
students[0] # python supports array like indexing with lists

'Aparna'

In [66]:
students[1]

'Anna'

In [68]:
students[-1] # last item

'Akanksha'

In [72]:
ones = [1, 1, 1, 1] # no restriction on uniqueness, type

In [70]:
roll_numbers = [34, 35, 12, 42]

In [73]:
mixed = ["some", "words", 42, 55]

In [74]:
list_lists = [["some","words"], [42, 55]]

In [75]:
list_lists[0]

['some', 'words']

In [76]:
list_lists[1]

[42, 55]

In [79]:
list_lists[0][0]

'some'

We can actually make multidimentional lists like matrices

In [89]:
matrix = [[1,2,3],[4,5,6],[6,7,8]]

In [90]:
matrix[0] # zeroth row

[1, 2, 3]

In [91]:
matrix[-1] # last row

[6, 7, 8]

Lists are mutable data types

In [80]:
mixed

['some', 'words', 42, 55]

In [81]:
mixed[0] = "zeroth"

In [82]:
mixed

['zeroth', 'words', 42, 55]

**Dictionary**
Dictionary is named collection of items

In [95]:
roll_numbers = {'Aparna': 42, 'Anna': 43, 'Arpita': 44}

In [96]:
roll_numbers = {"Aparna":42, 
                "Anna":43, 
                "Arpita":44}

In [97]:
roll_numbers['Aparna']

42

In [98]:
roll_numbers['Arpita']

44

In [99]:
roll_numbers['Ankanksha'] = 45

In [100]:
print(roll_numbers)

{'Aparna': 42, 'Anna': 43, 'Arpita': 44, 'Ankanksha': 45}

### Some useful build in functions
Some more means to manipulate data

In [83]:
len(mixed) # built in function len helps find number of items in the list

4

In [85]:
len("this is a string") # len can also work on string

16

In [102]:
len(roll_numbers) # and length of dictionaries

4

In [104]:
str(42)

'42'

In [105]:
x = input("Input a number, x:")

Input a number, x:42

In [107]:
x*2 # x is string

'4242'

In [109]:
int(x)*2

84

In [110]:
alphabets = list("abcdefghijklmnopqrstuvwxyz")

In [111]:
alphabets

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [112]:
range(10)

range(0, 10)

In [113]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [114]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [115]:
numbers = [3, 4, 5, 6]
sum(numbers)

18

In [116]:
max(numbers)

6

In [117]:
min(numbers)

3

**Questions**
- Find out how many digits are there in result of this computation `42**100`
- Find out sum of first 1000 natural numbers

### Custom Functions

In [118]:
def add(x, y):
    return x+y

In [119]:
add(2, 3)

5

In [120]:
def area_of_circle(radius):
    return 3.14*radius**2

### Functions as first class objects
compare tow definations... one is defining variable and another is defining a function

In [124]:
bar = 10
def foo():
    pass # empty statement

In [122]:
foo

In [ ]:
def square(x):
    return x*x

def sum_of_squares(x, y):
    return x*x + y*y

def cube(x):
    return x*x*x